body{
    background-color: Canvas;
}
.container3 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 100px auto;
    background-color: rgba(138, 43, 226, 0.85);
    padding: 40px;
    border-radius: 9% 91% 9% 91% / 92% 12% 88% 8% ;
    box-shadow: 4px 6px 5px rgb(0, 0, 0, 0.5);
    animation: slideIn 0.5s ease forwards;
    position: absolute;
    top: 2%;
    left: 35%;
    z-index: 1000;
    width: 35%;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h3c {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.formc {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease forwards;
    width: 100%;

    align-items: center;
}

.input-container2 {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    animation: slideIn 0.5s ease forwards;
    width: 100%;
    align-items: center;
}

.inputc {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    animation: fadeIn 1s ease forwards;
}

.labelc {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
    pointer-events: none;
    transition: 0.3s;
}

input:focus + label,
input:valid + label {
    top: -20px;
    font-size: 12px;
    color: #fff;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: black;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    animation: slideIn 0.5s ease forwards;
}

.button:hover {
    background-color: antiquewhite;
}

@media screen and (max-width: 480px) {
    .container2 {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .inputc, .button {
        font-size: 14px;
    }
}
.success-message {
    color: #008000; /* Couleur verte pour indiquer un message de réussite */
    font-size: 14px;
    margin-top: 5px; /* Espace supplémentaire en haut */
}
.error-message {
    color: #ff0000; /* Couleur rouge pour indiquer une erreur */
    font-size: 14px;
    margin-top: 5px; /* Espace supplémentaire en haut */
}

.selectc{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #262626;
    background-color: rgba(153, 50, 204, 0.76);
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    animation: fadeIn 1s ease forwards;
}
